@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  background: linear-gradient(#c6414c, #a74475);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  overflow-x: hidden;
  text-transform: uppercase;
  z-index: -2;
}

.play-board {
  color: white;
  height: 600px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #be7a93;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}
.player {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.8;
  z-index: -1;
}

.player--turn {
  background-color: #daaebc;
  border-radius: 10px;
  opacity: 1;
}
.player__info {
  position: absolute;
  top: 90px;
}

.player__info__name {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.player__info__score {
  font-size: 5rem;
  color: #c7365f;
}

.play-button {
  height: 300px;
  width: 200px;
  background: transparent;
  position: absolute;
  top: 30px;
}
.play-button__dice-number {
  margin-top: 2rem;
  font-size: 3rem;
}

.bottom-nav {
  width: 700px;
  height: 120px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 0;
  position: absolute;
  left: 40%;
  bottom: 90px;
}
.player__current-info {
  width: 200px;
  height: 120px;
  background-color: #c7365f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1rem;
  opacity: 0.8;
}

.player__current-info__score {
  margin-top: 1rem;
  font-size: 2rem;
}
.bottom-nav__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.play-button__new-game,
.bottom-nav__hold-btn,
.bottom-nav__roll-dice-btn {
  border: 0;
  background-color: #fff;
  margin: 0.5rem 0;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  z-index: 100;
}

.play-button__new-game:active,
.bottom-nav__hold-btn:active,
.bottom-nav__roll-dice-btn:active {
  transform: scale(0.98);
}

.play-button__new-game i,
.bottom-nav__hold-btn i,
.bottom-nav__roll-dice-btn i {
  margin-right: 1rem;
}

.player--win {
  background-color: black;
  color: white;
}
